.App {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 15px;
    min-height: 100vh;
    border-radius: 10px;
    flex-direction: column;
    background-color: #ffffff;
}

@media (min-width: 800px){
    .App {
        padding: 0 100px;
        margin-top: 5vh;
        min-height: 90vh;
    }
}

.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .title {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.home .title p{
    line-height: 50px;
}

.home .title button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 999px;
    background-color: #3f71f4;
}

.home .person {
    width: 100%;
    margin-top: 20px;
}

/* .home .person img {
    width: 80%;
} */

@media (min-width: 800px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }
    .home .title,
    .home .person {
        width: 50%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }
    /* .home .person img {
        width: 100%;
    } */
}

footer {
    width: 100%;
    padding: 10px 0;
}


